# Machine Learning
tensorflow-cpu==2.10.1  # Downgraded for compatibility
scikit-learn==1.0.2

# Core Libraries
numpy==1.24.4
pandas==1.3.5
scipy==1.10.1

# Visualization Libraries
matplotlib==3.4.3
seaborn==0.11.2
plotly==5.3.1

# Web Interface
streamlit==1.10.0
altair==4.1.0

# Computer Vision
opencv-contrib-python-headless==4.5.3.56

# Typing Extensions
typing-extensions==4.5.0

# Production Server
gunicorn==20.1.0
